.App {
  text-align: center;
}

body {
  background-image: url('/images/newspaper.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
h1 h2 {
  border: 2px solid black;
}
